---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "关于我";

const personInfo = {
  name: "Newcode Wen",
  age: 25,
  sex: "male",
  email: "newcode.wen@gmail.com",
  phone: "13800000000",
  address: "中国 北京",
  job: "全栈",
  skills: ["HTML", "CSS", "JavaScript", "React", "Vue", "Node.js", "Astro"],
};

const finished = false;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
  <style is:global define:vars={{ skillColor, fontWeight, textCase }}>
    h1 {
      color: purple;
      font-size: 4rem;
    }

    .skill {
      color: var(--skillColor);
      font-weight: var(--fontWeight);
      text-transform: var(--textCase);
    }
  </style>

  <h3>
    我正在构建我的个人网站，这个是使用 Astro 构建的，后续计划采用 React +
    shad/ui 进行快速构建
  </h3>
  <p>我是一个前端开发人员，喜欢打篮球、徒步、电影，无不良嗜好</p>
  <p>这个是我的个人博客，记录学习也记录生活</p>
  <p>以下是我个人的一些信息</p>
  <ul>
    <li>姓名：{personInfo.name}</li>
    <li>年龄：{personInfo.age}</li>
    <li>性别：{personInfo.sex}</li>
    <li>邮箱：{personInfo.email}</li>
    <li>手机号：{personInfo.phone}</li>
    <li>地址：{personInfo.address}</li>
    <li>工作：{personInfo.job}</li>
  </ul>

  <h3>我的技能</h3>
  <ul>
    {personInfo.skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>

  {
    finished ? (
      <p>我通过 Astro 教程完成了博客的编写</p>
    ) : (
      <p>我正在学习 Astro 的教程构建我的博客</p>
    )
  }
</BaseLayout>
